.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    padding: 100px 0 0 0;
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 35px;
    padding-bottom: 30px;
    text-align: center;
  }

  &__content {
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;
  }

  &__link-title {
    font-size: large;

    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &__logo {
    width: 40px;
    height: 40px;
  }

  &__cv-section {
    padding-top: 2rem;
    text-align: center;
    font-size: 18px;
  }

  &__cv-link {
    text-decoration: none;
    color: var(--ternary-color);
    font-weight: 700;
  }

  &__separator {
    width: 80%;
  }

  &__info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;

    p {
      text-align: center;
    }
  }

  @media screen and (min-width: 1000px) {
    &__title {
      padding-bottom: 4rem;
    }

    &__link-title {
      padding-top: 1rem;
    }

    &__content {
      flex-direction: row;
      align-items: end;
      gap: 5rem;
      padding-bottom: 5rem;
    }

    &__cv-section {
      padding-top: 0;
    }

    &__info {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
