* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
:root.light {
  --primary-color: #fff;
  --secondary-color: #1d1f21;
  --ternary-color: #c59d5f;
  --header-shadow-color: rgb(0 0 0 / 0.1);
}
:root.dark {
  --primary-color: #1d1f21;
  --secondary-color: #fff;
  --ternary-color: #c59d5f;
  --header-shadow-color: rgba(128, 127, 127, 0.1);
}

body {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Rajdhani", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}
