.skills {
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    max-width: 1440px;
  }

  &__title {
    font-size: 35px;
    padding-bottom: 30px;
    text-align: center;
  }

  &__grid-icons {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(auto, auto);
    align-items: center;
  }

  &__icon-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  &__icon-card > p {
    font-weight: bold;
    font-size: large;
  }

  &__icon {
    width: 100%;
    height: 5rem;
    object-fit: contain;
    filter: grayscale(100%);
  }

  &__icon:hover {
    filter: grayscale(0%);
  }

  @media screen and (min-width: 1000px) {
    &__title {
      font-size: 35px;
      padding-bottom: 80px;
      text-align: center;
    }

    &__grid-icons {
      padding-top: 50px;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      gap: 50px;
      grid-auto-rows: minmax(auto, auto);
      align-items: center;
    }

    &__icon-card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      justify-content: center;
      align-items: center;
    }

    &__icon {
      width: 100px;
      height: 7rem;
    }
  }
}
